.container-generos {
  display: flex;
  flex-direction: column;
  color: #0a0b0d;
  width: 250px;
  background: #f4f2f5;
  box-sizing: border-box;
}

.container-generos .nav {
  display: flex;
  color: #0a0b0d;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  padding: 0 20px;
}

.container-generos .nav h5 {
  text-align: center;
}

.container-generos .nav button {
  text-decoration: none;
  color: #0a0b0d;
  font-weight: bold;
  background: none;
  border: none;
}

.container-generos .nav button:hover {
  color: #059cdb;
  text-decoration: none;
  transform: translateY(2px);
  transition: all 0.2s;
}

.container-generos ul {
  padding: 15px 20px;
  list-style: none;
}

.container-generos ul li div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 38px;
  font-size: 14px;
}

.container-generos ul li div input {
  width: 100%;
  background: transparent;
  color: #0a0b0d;
  border: none;
  border-bottom: 1px solid #0a0b0d;
}

.container-generos ul li .buttons button:first-child {
  margin-right: 8px;
}

.container-generos ul li .buttons button {
  background: none;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #0a0b0d;
  width: 30px;
  height: 30px;
}

.container-generos ul li .buttons button:hover {
  color: #059cdb;
}
